    [remote "{{ name }}"]
      url = {{ vcs_hostname }}:{{ vcs_project_path }}.git
      fetch = +refs/*:refs/*
      push = +refs/heads/*:refs/heads/*
      projects = {{ name }}
      replicatePermissions = false