    [remote "{{ name }}"]
      url = {{ gitlab_hostname }}:{{ gitlab_project_path }}.git
      fetch = +refs/*:refs/*
      push = +refs/heads/*:refs/heads/*
      projects = {{ name }}
      replicatePermissions = false