{
  "realm": "{{ tools.keycloak.realm_name }}",
  "defaultRoles": [
    "developer"
  ],
  "enabled":true,
  "roles": {
    "realm": [
      {
        "name": "jenkins-dev"
      },
      {
        "name": "jenkins-qa"
      },
      {
        "name": "jenkins-admin"
      },
      {
        "name": "jenkins-user"
      },
      {
        "name": "gerrit-dev"
      },
      {
        "name": "gerrit-reviewer"
      },
      {
        "name": "gerrit-admin"
      },
      {
        "name": "gerrit-user"
      },
      {
        "name": "developer",
        "composite": true,
        "composites": {
          "realm": [
            "jenkins-dev",
            "gerrit-dev"
          ]
        }
      },
      {
        "name": "teamlead",
        "composite": true,
        "composites": {
          "realm": [
            "jenkins-dev",
            "gerrit-reviewer"
          ]
        }
      },
      {
        "name": "qa",
        "composite": true,
        "composites": {
          "realm": [
            "jenkins-qa",
            "jenkins-user"
          ]
        }
      },
      {
        "name": "devops",
        "composite": true,
        "composites": {
          "realm": [
            "jenkins-admin",
            "gerrit-admin"
          ]
        }
      }
    ]
  },
  "clients": [
    {
      "clientId": "jenkins",
      "enabled": true,
      "publicClient": true,
      "rootUrl": "{{ tools.jenkins.web_url }}",
      "redirectUris": [
        "{{ tools.jenkins.web_url }}/*"
      ],
      "webOrigins": [
        "{{ tools.jenkins.web_url }}"
      ],
      "adminUrl": "{{ tools.jenkins.web_url }}/"
    }
  ],
  "users" : [
    {
      "username" : "je-admin",
      "enabled": true,
      "email" : "sample-user@example.com",
      "firstName": "Jenkins",
      "lastName": "Manager",
      "credentials" : [
        { "type" : "password",
          "value" : "secret" }
      ],
      "realmRoles": [ "jenkins-admin" ]
    }
  ]
}
