# Copyright 2018 EPAM Systems.

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.

# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: v1
kind: Template
metadata:
  name: "zuul"
  annotations:
    iconClass: "icon-spring"
    description: Openshift template for spring-boot application/service deploying
    template.openshift.io/provider-display-name: EPAM
    template.openshift.io/support-url: https://www.epam.com
objects:
- apiVersion: v1
  kind: Service
  metadata:
    name: "zuul"
    labels:
      app: "zuul"
  spec:
    ports:
    - name: "zuul"
      port: 8765
      protocol: TCP
      targetPort: 8765
    selector:
      app: "zuul"
    type: ClusterIP
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: "zuul"
{% if item_map.route %}
- apiVersion: v1
  kind: Route
  metadata:
    name: "zuul"
    annotations:
      description: "Route for zuul application"
    labels:
      app: "zuul"
  spec:
    tls:
      insecureEdgeTerminationPolicy: Redirect
      termination: edge
{% if item_map.route_site is defined and item_map.route_site != '' %}
    host: {{ item_map.route_site }}-${NAMESPACE}.{{ dns_wildcard }}
{% endif %}
    path: {{ item_map.route_path | default('') }}
    port:
      targetPort: 8765
    to:
      kind: Service
      name: "zuul"
    wildcardPolicy: None
{% endif %}
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    name: "zuul"
    labels:
      app: "zuul"
  spec:
    replicas: 1
    selector:
      app: "zuul"
    strategy:
      activeDeadlineSeconds: 21600
      type: Rolling
      rollingParams:
        failurePolicy: Abort
        intervalSeconds: 1
        maxSurge: 25%
        maxUnavailable: 25%
        timeoutSeconds: 600
        updatePeriodSeconds: 1
    template:
      metadata:
        labels:
          app: "zuul"
      spec:
        serviceAccountName: "zuul"
        containers:
        - name: "zuul"
          image: "zuul"
          imagePullPolicy: Always
          ports:
            - containerPort: 8765
              protocol: TCP
          livenessProbe:
            failureThreshold: 5
            initialDelaySeconds: 180
            periodSeconds: 20
            successThreshold: 1
            tcpSocket:
              port: 8765
            timeoutSeconds: 5
          readinessProbe:
            failureThreshold: 5
            initialDelaySeconds: 60
            periodSeconds: 20
            successThreshold: 1
            tcpSocket:
              port: 8765
            timeoutSeconds: 5
          resources:
            requests:
              memory: 1Gi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
    triggers:
      - type: ConfigChange
      - imageChangeParams:
          automatic: false
          containerNames:
            - "zuul"
          from:
            kind: ImageStreamTag
            name: "zuul:${APP_VERSION}"
            namespace: "${IS_NAMESPACE}"
        type: ImageChange
parameters:
- displayName: Application version
  name: APP_VERSION
  required: true
  value: "latest"
- displayName: Current namespace
  name: NAMESPACE
  required: true
- displayName: ImageStream namespace
  name: IS_NAMESPACE
  required: true