{
    "apiVersion": "v1",
    "kind": "BuildConfig",
    "metadata": {
        "labels": {
            "name": "{{ env_name }}-deploy-pipeline"
        },
        "name": "{{ env_name }}-deploy-pipeline",
        "namespace": "{{ project_cicd }}"
    },
    "spec": {
        "source": {
            "git": {
                "uri": "ssh://jenkins@gerrit:{{ gerrit_ssh_port }}/{{ gerrit_project }}"
            },
            "type": "Git"
        },
        "strategy": {
            "jenkinsPipelineStrategy": {
                "env": [
{% for application in app_map | list %}
                    {
                        "name": "{{ application.name | upper | replace('-','_') }}_VERSION",
                        "value": "latest"
                    },
{% endfor %}
                    {
                        "name": "PIPELINES_PATH",
                        "value": "application-pipelines/jenkins"
                    }
                ],
                "jenkinsfilePath": "application-pipelines/jenkins/Deploy-pipeline.groovy"
            },
            "type": "JenkinsPipeline"
        },
        "triggers": [
{% for trigger in env_triggers %}
    {% if  trigger.type == "ImageStreamChange" %}
        {% for application in app_map | list %}
            {
                "imageChange": {
                    "from": {
                        "kind": "ImageStreamTag",
                        "name": "{{ application.name }}:latest",
                        "namespace": "{{ env_name }}"
                    }
                },
                "type": "ImageChange"
            }{% if not loop.last %},{%endif%}
        {% endfor %}
    {% endif %}
{% endfor %}
        ]
    }
}