venv/*
target/*
.settings/*
.classpath
.DS_Store
.project
.idea
*.iml
/target
npm-debug.log
/bin/
*.retry
.gitkeep

/backend/target/*
/database/target/*
openshift/cicd/examples/3-tier-app/frontend/coverage/*
openshift/cicd/examples/3-tier-app/frontend/.scannerwork/*
openshift/cicd/examples/3-tier-app/frontend/node_modules/*
