# Copyright 2018 EPAM Systems.

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.

# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: v1
kind: Template
metadata:
  name: "{{ name }}"
  annotations:
    iconClass: icon-jenkins
    description: Openshift template for Zipkin service
    template.openshift.io/provider-display-name: EPAM
    template.openshift.io/support-url: https://www.epam.com
objects:
{% if item_map.storage is defined %}
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: "{{ name }}-data"
  spec:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: "{{ item_map.storage.capacity }}"
    storageClassName: "{{ item_map.storage.class }}"
{% endif %}
- apiVersion: v1
  kind: Route
  metadata:
    annotations:
      description: "Route for {{ name }} service."
    name: "{{ name }}"
    labels:
      app: "{{ name }}"
  spec:
    tls:
      insecureEdgeTerminationPolicy: Redirect
      termination: edge
    to:
      kind: Service
      name: "{{ name }}"
    port:
      targetPort: gui
- apiVersion: v1
  kind: Service
  metadata:
    name: "{{ name }}"
    labels:
      app: "{{ name }}"
  spec:
    ports:
    - name: gui
      port: 9411
    selector:
      app: "{{ name }}"
    type: ClusterIP
- apiVersion: v1
  kind: Service
  metadata:
    name: "{{ name }}-db"
    labels:
      app: "{{ name }}-db"
  spec:
    ports:
    - name: "{{ name }}-db"
      port: 9042
    selector:
      app: "{{ name }}-db"
    type: ClusterIP
    sessionAffinity: None
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: "{{ name }}"
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    name: "{{ name }}"
    labels:
      app: "{{ name }}"
  spec:
    replicas: 1
    selector:
      app: "{{ name }}"
    strategy:
      activeDeadlineSeconds: 21600
      type: Rolling
      rollingParams:
        failurePolicy: Abort
        intervalSeconds: 1
        maxSurge: 25%
        maxUnavailable: 25%
        timeoutSeconds: 600
        updatePeriodSeconds: 1
    template:
      metadata:
        labels:
          app: "{{ name }}"
      spec:
        serviceAccountName: "{{ name }}"
        containers:
        - name: "{{ name }}"
          image: "${SERVICE_IMAGE}:${SERVICE_VERSION}"
          imagePullPolicy: Always
          ports:
            - name: gui
              containerPort: 9411
          env:
          - name: STORAGE_TYPE
            value: "cassandra"
          - name: CASSANDRA_ENSURE_SCHEMA
            value: "false"
          - name: CASSANDRA_CONTACT_POINTS
            value: "{{ name }}-db"
          livenessProbe:
            failureThreshold: 5
            initialDelaySeconds: 180
            periodSeconds: 20
            successThreshold: 1
            tcpSocket:
              port: 9411
            timeoutSeconds: 5
          readinessProbe:
            failureThreshold: 5
            initialDelaySeconds: 60
            periodSeconds: 20
            successThreshold: 1
            tcpSocket:
              port: 9411
            timeoutSeconds: 5
          resources:
            requests:
              memory: 1Gi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
    triggers:
      - type: ConfigChange
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: "{{ name }}"
    name: "{{ name }}-db"
  spec:
    replicas: 1
    selector:
      app: "{{ name }}-db"
    strategy:
      activeDeadlineSeconds: 21600
      recreateParams:
        timeoutSeconds: 600
      resources: {}
      type: Recreate
    template:
      metadata:
        labels:
          app: "{{ name }}-db"
      spec:
        securityContext:
          fsGroup: 0
        containers:
        - name: "{{ name }}-db"
          image: "openzipkin/zipkin-cassandra:${SERVICE_VERSION}"
          imagePullPolicy: Always
          resources:
            requests:
              memory: 1Gi
          ports:
            - containerPort: 9042
              protocol: TCP
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: 9042
            timeoutSeconds: 1
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - '-c'
                - cd /cassandra/bin && ./cassandra -v
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          volumeMounts:
            - mountPath: /cassandra/data/
              name: {{ name }}-db
        serviceAccount: {{ name }}
        volumes:
        - name: {{ name }}-db
{% if item_map.storage is defined %}
          persistentVolumeClaim:
            claimName: {{ name }}-data
{% else %}
          emptyDir: {}
{% endif %}
parameters:
- displayName: Application version
  name: SERVICE_VERSION
  required: true
  value: "{{ item_map.version }}"
- displayName: Application image
  name: SERVICE_IMAGE
  value: "{{ item_map.image }}"
  required: true