{
  "config": {
    "url": "{{ url }}",
    "username": "{{ user }}",
    "password": "{{ password }}",
    "instanceId": "{{ url }}",
    "{{ tool_specific_parameter }}": {}
  },
  "name": "{{ tool | upper }}",
  "type": "{{ tool | upper }}"
}