    [remote "{{ project_name }}"]
      url = {{ gitlab_hostname }}:{{ gitlab_project_path }}.git
      fetch = +refs/*:refs/*
      push = +refs/heads/*:refs/heads/*
      projects = {{ project_name }}
      replicatePermissions = false