apiVersion: v1
kind: Template
metadata:
  name: "{{ app_name }}"
  annotations:
    iconClass: "icon-spring"
    description: Openshift template for spring-boot application/service deploying
    template.openshift.io/provider-display-name: EPAM
    template.openshift.io/support-url: https://www.epam.com
objects:
- apiVersion: v1
  kind: Service
  metadata:
    name: "{{ app_name }}"
    labels:
      app: "{{ app_name }}"
  spec:
    ports:
    - name: "{{ app_name }}"
      port: 8080
      protocol: TCP
      targetPort: 8080
    selector:
      app: "{{ app_name }}"
    type: ClusterIP
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: "{{ app_name }}"
{% if route %}
- apiVersion: v1
  kind: Route
  metadata:
    name: "{{ app_name }}"
    annotations:
      description: "Route for {{ app_name }} application"
    labels:
      app: "{{ app_name }}"
  spec:
    host: {{ route_site }}-${NAMESPACE}.{{ dns_wildcard }}
    path: {{ route_path }}
    port:
      targetPort: 8080
    to:
      kind: Service
      name: "{{ app_name }}"
    wildcardPolicy: None
{% endif %}
{% if need_database and database == 'PostgreSQL' %}
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: "{{ app_name }}-db"
  spec:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: "{{ database_capacity }}"
{% if persistent_storage == 'GlusterFS' %}
    storageClassName: glusterfs-storage
{% endif %}
- apiVersion: v1
  kind: Service
  metadata:
    name: "{{ app_name }}-db"
    labels:
      app: "{{ app_name }}-db"
  spec:
    ports:
    - name: "{{ app_name }}-db"
      port: 5432
    selector:
      app: "{{ app_name }}-db"
    type: ClusterIP
    sessionAffinity: None
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: "{{ app_name }}"
    name: "{{ app_name }}-db"
  spec:
    replicas: 1
    selector:
      app: "{{ app_name }}-db"
    strategy:
      activeDeadlineSeconds: 21600
      recreateParams:
        timeoutSeconds: 600
      resources: {}
      type: Recreate
    template:
      metadata:
        labels:
          app: "{{ app_name }}-db"
      spec:
        containers:
        - name: "{{ app_name }}-db"
          env:
          - name: POSTGRES_DB
            value: "{{ app_name }}-db"
          - name: POSTGRES_USER
            value: "admin"
          - name: POSTGRES_PASSWORD
            value: "admin"
          - name: PGDATA
            value: /var/lib/postgresql/data/pgdata
          - name: POD_IP
            valueFrom: { fieldRef: { fieldPath: status.podIP } }
          image: "{{ database_version }}"
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "{{ database_capacity }}"
          ports:
            - containerPort: 5432
              protocol: TCP
          livenessProbe:
            exec:
              command:
              - sh
              - -c
              - exec pg_isready --host $POD_IP
            initialDelaySeconds: 60
            timeoutSeconds: 5
            failureThreshold: 6
          readinessProbe:
            exec:
              command:
              - sh
              - -c
              - exec pg_isready --host $POD_IP
            initialDelaySeconds: 60
            timeoutSeconds: 3
            periodSeconds: 5
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: "{{ app_name }}-db"
        serviceAccount: "{{ app_name }}"
        volumes:
          - name: "{{ app_name }}-db"
            persistentVolumeClaim:
              claimName: "{{ app_name }}-db"
{% endif %}
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    name: "{{ app_name }}"
    labels:
      app: "{{ app_name }}"
  spec:
    replicas: 1
    selector:
      app: "{{ app_name }}"
    strategy:
      activeDeadlineSeconds: 21600
      type: Rolling
      rollingParams:
        failurePolicy: Abort
        intervalSeconds: 1
        maxSurge: 25%
        maxUnavailable: 25%
        timeoutSeconds: 600
        updatePeriodSeconds: 1
    template:
      metadata:
        labels:
          app: "{{ app_name }}"
      spec:
{% if need_database and database == 'PostgreSQL' %}
        initContainers:
        - name: "init-{{ app_name }}-db"
          image: busybox
          command: ["sh", "-c", "while ! nc -w 1 '{{ app_name }}'-db 5432 </dev/null; do echo waiting for '{{ app_name }}'-db; sleep 10; done;"]
{% endif %}
        serviceAccountName: "{{ app_name }}"
        containers:
        - name: "{{ app_name }}"
          image: "{{ docker_registry_url }}/${APP_IMAGE}:${APP_VERSION}"
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              protocol: TCP
          livenessProbe:
            failureThreshold: 5
            initialDelaySeconds: 180
            periodSeconds: 20
            successThreshold: 1
            tcpSocket:
              port: 8080
            timeoutSeconds: 5
          readinessProbe:
            failureThreshold: 5
            initialDelaySeconds: 60
            periodSeconds: 20
            successThreshold: 1
            tcpSocket:
              port: 8080
            timeoutSeconds: 5
          resources:
            requests:
              memory: 1Gi
{% if need_database and database == 'PostgreSQL' %}
          env:
          - name: POSTGRES_DATABASE
            value: "{{ app_name }}-db"
          - name: POSTGRES_USER
            value: "admin"
          - name: POSTGRES_PASSWORD
            value: "admin"
{% endif %}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
    triggers:
      - type: ConfigChange
parameters:
- displayName: Application version
  name: APP_VERSION
  required: true
  value: "latest"
- displayName: Application image
  name: APP_IMAGE
  required: true
- displayName: Current namespace
  name: NAMESPACE
  required: true