[project]
    description = Access inherited by all other projects.
[receive]
    requireContributorAgreement = false
    requireSignedOffBy = false
    requireChangeId = true
[submit]
    mergeContent = true
[capability]
    accessDatabase = group Administrators
    administrateServer = group Administrators
    createProject = group Project Bootstrappers
    killTask = group Administrators
    priority = batch group Non-Interactive Users
    runAs = group Project Bootstrappers
    streamEvents = group Registered Users
[access "refs/*"]
    create = group Project Bootstrappers
    forgeAuthor = group Registered Users
    forgeCommitter = group Project Bootstrappers
    push = +force group Project Bootstrappers
    pushMerge = group Project Bootstrappers
    pushSignedTag = group Project Bootstrappers
    pushTag = group Continuous Integration Tools
    pushTag = group Project Bootstrappers
    read = group Administrators
    read = group Anonymous Users
    editTopicName = group Registered Users
[access "refs/drafts/*"]
    push = block group Registered Users
[access "refs/for/refs/*"]
    push = group Registered Users
    pushMerge = group Administrators
[access "refs/heads/*"]
    abandon = group Administrators
    abandon = group Change Owner
    abandon = group Project Bootstrappers
    label-Code-Review = -2..+2 group Administrators
    label-Code-Review = -2..+2 group Project Owners
    label-Code-Review = -2..+2 group Project Bootstrappers
    label-Code-Review = -1..+1 group Registered Users
    label-Verified = -1..+1 group Administrators
    label-Verified = -1..+1 group Continuous Integration Tools
    label-Verified = -1..+1 group Project Owners
    label-Sonar-Verified = -1..+1 group Administrators
    label-Sonar-Verified = -1..+1 group Continuous Integration Tools
    label-Sonar-Verified = -1..+1 group Project Owners
    rebase = group Registered Users
    submit = group Administrators
    submit = group Continuous Integration Tools
    submit = group Project Bootstrappers
[access "refs/tags/*"]
    createTag = group Administrators
    createTag = group Project Owners
    createTag = group Continuous Integration Tools
    createSignedTag = group Administrators
    createSignedTag = group Project Owners
    createSignedTag = group Continuous Integration Tools
    read = group Continuous Integration Tools
[access "refs/meta/config"]
    read = group Administrators
    read = group Project Owners
    create = group Administrators
    create = group Project Owners
    push = group Administrators
    push = group Project Owners
    label-Code-Review = -2..+2 group Administrators
    submit = group Administrators
    label-Sonar-Verified = -1..+1 group Administrators
    label-Verified = -1..+1 group Administrators
[label "Code-Review"]
    abbreviation = R
    copyAllScoresOnTrivialRebase = true
    copyAllScoresIfNoCodeChange = true
    copyMinScore = true
    function = MaxWithBlock
    value = -2 This shall not be merged
    value = -1 This patch needs further work before it can be merged
    value = 0 No score
    value = +1 Looks good to me, but someone else must approve
    value = +2 Looks good to me, approved
[label "Verified"]
    function = MaxWithBlock
    defaultValue = 0
    value = -1 Fails
    value =  0 No score
    value = +1 Verified
[label "Sonar-Verified"]
    function = MaxWithBlock
    defaultValue = 0
    value = -1 Fails
    value =  0 No score
    value = +1 Verified