import sys
import ast
import json
import argparse


def arguments_parser():
    parser = argparse.ArgumentParser(prog='update-cm-data')
    parser.add_argument('--git_repo', '-g', help='Application git repository', required=True)
    parser.add_argument('--name', '-n', help='Application name. Example: --name test-app', required=True)
    parser.add_argument('--language', '-l', help='Application language. Example: --language Java', required=True)
    parser.add_argument('--tool', '-t', help='Application build tool. Example: --type maven', required=True)
    parser.add_argument('--framework', '-f', help='Application framework. Example: --name spring-boot', required=True)
    parser.add_argument('--need_route', '-r', help='Boolean application route. Example: --need_route true',
                        required=True)
    args = parser.parse_args()
    return args


def read_json(old_json):
    with open(old_json, 'r') as stream:
        return stream.read()


def save_json(new_json):
    with open("/tmp/updated_cm.json", "w") as file:
        return file.write(new_json)


def update_json(application_git_repo, application_name, application_language, application_build_tool,
                application_framework, application_route):
    try:
        parsed_json = json.loads(read_json("/tmp/old_cm.json"))
        data = json.loads(parsed_json['data']['app.settings.json'])
        payload = {"git_url": application_git_repo, "name": application_name, "language": application_language,
                   "tool": application_build_tool, "framework": application_framework, "route": application_route}
        data.append(payload)
        parsed_json['data']['app.settings.json'] = json.dumps(ast.literal_eval(str(data)))
        save_json(json.dumps(parsed_json))
    except Exception as exc:
        print(exc)


def main(argv=None):
    if argv:
        sys.argv.extend(argv)
    arguments = arguments_parser()

    application_git_repo = arguments.git_repo
    application_name = arguments.name
    application_language = arguments.language
    application_build_tool = arguments.tool
    application_framework = arguments.framework
    application_route = arguments.need_route

    update_json(application_git_repo, application_name, application_language, application_build_tool,
                application_framework, application_route)


if __name__ == '__main__':
    main(sys.argv[1:])
