# Copyright 2018 EPAM Systems.

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.

# See the License for the specific language governing permissions and
# limitations under the License.

{
    "apiVersion": "v1",
    "kind": "BuildConfig",
    "metadata": {
        "labels": {
            "name": "{{ env_name }}-deploy-pipeline"
        },
        "name": "{{ env_name }}-deploy-pipeline",
        "namespace": "{{ project_cicd }}"
    },
    "spec": {
        "source": {
            "git": {
                "uri": "ssh://jenkins@gerrit:{{ gerrit_ssh_port }}/{{ gerrit_project }}"
            },
            "type": "Git"
        },
        "strategy": {
            "jenkinsPipelineStrategy": {
                "env": [
                    {
                        "name": "PIPELINES_PATH",
                        "value": "application-pipelines/jenkins"
                    }
                ],
                "jenkinsfilePath": "application-pipelines/jenkins/Deploy-pipeline.groovy"
            },
            "type": "JenkinsPipeline"
        },
        "triggers": [
{% for trigger in env_triggers %}
    {% if  trigger.type == "ImageStreamChange" %}
        {% for application in app_map | list %}
            {
                "imageChange": {
                    "from": {
                        "kind": "ImageStreamTag",
                        "name": "{{ application.name }}:latest",
                        "namespace": "{{ env_name }}-meta"
                    }
                },
                "type": "ImageChange"
            }{% if not loop.last %},{%endif%}
        {% endfor %}
    {% endif %}
{% endfor %}
        ]
    }
}