# Copyright 2018 EPAM Systems.

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.

# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: v1
kind: Template
metadata:
  name: "{{ name }}"
  annotations:
    iconClass: "icon-spring"
    description: Openshift template for spring-boot application/service deploying
    template.openshift.io/provider-display-name: EPAM
    template.openshift.io/support-url: https://www.epam.com
objects:
- apiVersion: v1
  kind: Service
  metadata:
    name: "{{ name }}"
    labels:
      app: "{{ name }}"
  spec:
    ports:
    - name: "{{ name }}"
      port: 8080
      protocol: TCP
      targetPort: 8080
    selector:
      app: "{{ name }}"
    type: ClusterIP
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: "{{ name }}"
{% if item_map.route %}
- apiVersion: v1
  kind: Route
  metadata:
    name: "{{ name }}"
    annotations:
      description: "Route for {{ name }} application"
    labels:
      app: "{{ name }}"
  spec:
{% if item_map.route_site is defined and item_map.route_site != '' %}
    host: {{ item_map.route_site }}-${NAMESPACE}.{{ dns_wildcard }}
{% endif %}
    path: {{ item_map.route_path | default('') }}
    port:
      targetPort: 8080
    to:
      kind: Service
      name: "{{ name }}"
    wildcardPolicy: None
{% endif %}
{% if item_map.need_database and item_map.database == 'PostgreSQL' %}
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: "{{ name }}-db"
  spec:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: "{{ item_map.database_capacity }}"
    storageClassName: {{ item_map.persistent_storage }}
- apiVersion: v1
  kind: Service
  metadata:
    name: "{{ name }}-db"
    labels:
      app: "{{ name }}-db"
  spec:
    ports:
    - name: "{{ name }}-db"
      port: 5432
    selector:
      app: "{{ name }}-db"
    type: ClusterIP
    sessionAffinity: None
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: "{{ name }}"
    name: "{{ name }}-db"
  spec:
    replicas: 1
    selector:
      app: "{{ name }}-db"
    strategy:
      activeDeadlineSeconds: 21600
      recreateParams:
        timeoutSeconds: 600
      resources: {}
      type: Recreate
    template:
      metadata:
        labels:
          app: "{{ name }}-db"
      spec:
        containers:
        - name: "{{ name }}-db"
          env:
          - name: POSTGRES_DB
            value: "{{ name }}-db"
          - name: POSTGRES_USER
            value: "admin"
          - name: POSTGRES_PASSWORD
            value: "admin"
          - name: PGDATA
            value: /var/lib/postgresql/data/pgdata
          - name: POD_IP
            valueFrom: { fieldRef: { fieldPath: status.podIP } }
          image: "{{ item_map.database_version }}"
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "{{ item_map.database_capacity }}"
          ports:
            - containerPort: 5432
              protocol: TCP
          livenessProbe:
            exec:
              command:
              - sh
              - -c
              - exec pg_isready --host $POD_IP
            initialDelaySeconds: 60
            timeoutSeconds: 5
            failureThreshold: 6
          readinessProbe:
            exec:
              command:
              - sh
              - -c
              - exec pg_isready --host $POD_IP
            initialDelaySeconds: 60
            timeoutSeconds: 3
            periodSeconds: 5
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: "{{ name }}-db"
        serviceAccount: "{{ name }}"
        volumes:
          - name: "{{ name }}-db"
            persistentVolumeClaim:
              claimName: "{{ name }}-db"
{% endif %}
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    name: "{{ name }}"
    labels:
      app: "{{ name }}"
  spec:
    replicas: 1
    selector:
      app: "{{ name }}"
    strategy:
      activeDeadlineSeconds: 21600
      type: Rolling
      rollingParams:
        failurePolicy: Abort
        intervalSeconds: 1
        maxSurge: 25%
        maxUnavailable: 25%
        timeoutSeconds: 600
        updatePeriodSeconds: 1
    template:
      metadata:
        labels:
          app: "{{ name }}"
      spec:
{% if item_map.need_database and item_map.database == 'PostgreSQL' %}
        initContainers:
        - name: "init-{{ name }}-db"
          image: busybox
          command: ["sh", "-c", "while ! nc -w 1 '{{ name }}'-db 5432 </dev/null; do echo waiting for '{{ name }}'-db; sleep 10; done;"]
{% endif %}
        serviceAccountName: "{{ name }}"
        containers:
        - name: "{{ name }}"
          image: "{{ docker_registry_url }}/${APP_IMAGE}:${APP_VERSION}"
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              protocol: TCP
          livenessProbe:
            failureThreshold: 5
            initialDelaySeconds: 180
            periodSeconds: 20
            successThreshold: 1
            tcpSocket:
              port: 8080
            timeoutSeconds: 5
          readinessProbe:
            failureThreshold: 5
            initialDelaySeconds: 60
            periodSeconds: 20
            successThreshold: 1
            tcpSocket:
              port: 8080
            timeoutSeconds: 5
          resources:
            requests:
              memory: 1Gi
{% if item_map.need_database and item_map.database == 'PostgreSQL' %}
          env:
          - name: POSTGRES_DATABASE
            value: "{{ name }}-db"
          - name: POSTGRES_USER
            value: "admin"
          - name: POSTGRES_PASSWORD
            value: "admin"
{% endif %}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
    triggers:
      - type: ConfigChange
parameters:
- displayName: Application version
  name: APP_VERSION
  required: true
  value: "latest"
- displayName: Application image
  name: APP_IMAGE
  required: true
- displayName: Current namespace
  name: NAMESPACE
  required: true