{
  "username": "{{ keycloak_edp_admin }}",
  "enabled": true,
  "email": "{{ keycloak_edp_admin }}@example.com",
  "firstName": "Administrator",
  "lastName": "EDP",
  "credentials": [
    {
      "type": "password",
      "value": "{{ keycloak_edp_admin_password }}"
    }
  ]
}