{
  "username": "{{ username }}",
  "enabled": true,
  {% if username == default_super_admin %}
  "email": "{{ username }}@example.com",
  "firstName": "Administrator",
  "lastName": "EDP",
  {% endif %}
  "credentials": [
    {
      "type": "password",
      "value": "{{ password }}"
    }
  ],
  {% if update_required %}
  "requiredActions" : [ "UPDATE_PASSWORD", "UPDATE_PROFILE" ]
  {% endif %}
}