{
  "realm": "{{ tools.keycloak.realm_name }}",
  "defaultRoles": [
    "developer"
  ],
  "enabled":true,
  "roles": {
    "realm": [
      {
        "name": "sonar-administrators"
      },
      {
        "name": "jenkins-administrators"
      },
      {
        "name": "gerrit-administrators"
      },
      {
        "name": "sonar-users"
      },
      {
        "name": "jenkins-users"
      },
      {
        "name": "gerrit-users"
      },
      {
        "name": "administrator",
        "composite": true,
        "composites": {
          "realm": [
            "sonar-administrators",
            "jenkins-administrators",
            "gerrit-administrators"
          ]
        }
      },
      {
        "name": "developer",
        "composite": true,
        "composites": {
          "realm": [
            "sonar-users",
            "jenkins-users",
            "gerrit-users"
          ]
        }
      }
    ]
  },
  "clients": [
    {
      "clientId": "jenkins",
      "enabled": true,
      "publicClient": true,
      "rootUrl": "{{ tools.jenkins.web_url }}",
      "redirectUris": [
        "{{ tools.jenkins.web_url }}/*"
      ],
      "webOrigins": [
        "{{ tools.jenkins.web_url }}"
      ],
      "adminUrl": "{{ tools.jenkins.web_url }}/"
    },
    {
      "clientId": "gerrit",
      "enabled": true,
      "publicClient": false,
      "clientAuthenticatorType": "client-secret",
      "secret": "{{ keycloak_gerrit_realm_secret }}",
      "rootUrl": "{{ tools.gerrit.web_url }}",
      "redirectUris": [
        "{{ tools.gerrit.web_url }}/*"
      ],
      "webOrigins": [
        "{{ tools.gerrit.web_url }}"
      ],
      "adminUrl": "{{ tools.gerrit.web_url }}/"
    },
    {
      "clientId": "{{ sonar_client_id }}",
      "name": "SonarQube",
      "enabled": true,
      "publicClient": true,
      "rootUrl": "{{ tools.sonar.web_url }}",
      "redirectUris": [
        "{{ tools.sonar.web_url }}/*"
      ],
      "webOrigins": [
        "{{ tools.sonar.web_url }}"
      ],
      "adminUrl": "{{ tools.sonar.web_url }}/",
      "protocolMappers": [
        {
          "name": "username",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-usermodel-property-mapper",
          "consentRequired": false,
          "config": {
            "userinfo.token.claim": "true",
            "user.attribute": "username",
            "id.token.claim": "true",
            "access.token.claim": "true",
            "claim.name": "preferred_username",
            "jsonType.label": "String"
          }
        },
        {
          "name": "realm roles",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-usermodel-realm-role-mapper",
          "consentRequired": false,
          "config": {
            "userinfo.token.claim": "true",
            "multivalued": "true",
            "id.token.claim": "true",
            "access.token.claim": "false",
            "claim.name": "{{ sonar_claim_name }}",
            "jsonType.label": "String"
          }
        }
      ]
    },
    {
      "clientId": "{{ tools.nexus.client_id }}",
      "enabled": true,
      "publicClient": true,
      "rootUrl": "{{ tools.nexus.web_url }}",
      "redirectUris": [
        "{{ tools.nexus.web_url }}/*"
      ],
      "webOrigins": [
        "{{ tools.nexus.web_url }}"
      ],
      "adminUrl": "{{ tools.nexus.web_url }}/"
    }
  ],
  "users" : [
    {
      "username" : "edp-admin",
      "enabled": true,
      "email" : "admin@example.com",
      "firstName": "Administrator",
      "lastName": "EDP",
      "credentials" : [
        { "type" : "password",
          "value" : "secret" }
      ],
      "realmRoles": [ "administrator" ]
    },
    {
          "username" : "edp-developer",
          "enabled": true,
          "email" : "developer@example.com",
          "firstName": "Developer",
          "lastName": "EDP",
          "credentials" : [
            { "type" : "password",
              "value" : "secret" }
          ],
          "realmRoles": [ "developer" ]
        }
  ]
}
