{
  "clientId": "{{ full_edp_name }}",
  "enabled": true,
  "protocol": "openid-connect",
  "publicClient": false,
  "clientAuthenticatorType": "client-secret",
  "secret": "{{ edp_client_secret }}",
  "redirectUris": [
    "/auth/realms/{{ full_edp_name }}/broker/openshift/endpoint"
  ]
}