{
  "realm": "{{ tools.keycloak.realm_name }}",
  "defaultRoles": [
    "developer"
  ],
  "enabled":true,
  "roles": {
    "realm": [
      {
        "name": "jenkins-dev"
      },
      {
        "name": "jenkins-qa"
      },
      {
        "name": "jenkins-admin"
      },
      {
        "name": "jenkins-user"
      },
      {
        "name": "gerrit-dev"
      },
      {
        "name": "gerrit-reviewer"
      },
      {
        "name": "gerrit-admin"
      },
      {
        "name": "gerrit-user"
      },
      {
        "name": "sonar-dev",
        "description": "Realm Sonar Developer role",
        "clientRole": false
      },
      {
        "name": "sonar-admin",
        "description": "Realm Sonar Admin role",
        "clientRole": false
      },
      {
        "name": "developer",
        "composite": true,
        "composites": {
          "realm": [
            "jenkins-dev",
            "gerrit-dev"
          ]
        }
      },
      {
        "name": "teamlead",
        "composite": true,
        "composites": {
          "realm": [
            "jenkins-dev",
            "gerrit-reviewer"
          ]
        }
      },
      {
        "name": "qa",
        "composite": true,
        "composites": {
          "realm": [
            "jenkins-qa",
            "jenkins-user"
          ]
        }
      },
      {
        "name": "devops",
        "composite": true,
        "composites": {
          "realm": [
            "jenkins-admin",
            "gerrit-admin"
          ]
        }
      }
    ]
  },
  "clients": [
    {
      "clientId": "jenkins",
      "enabled": true,
      "publicClient": true,
      "rootUrl": "{{ tools.jenkins.web_url }}",
      "redirectUris": [
        "{{ tools.jenkins.web_url }}/*"
      ],
      "webOrigins": [
        "{{ tools.jenkins.web_url }}"
      ],
      "adminUrl": "{{ tools.jenkins.web_url }}/"
    },
    {
      "clientId": "{{ sonar_client_id }}",
      "name": "SonarQube",
      "enabled": true,
      "publicClient": true,
      "rootUrl": "{{ tools.sonar.web_url }}",
      "redirectUris": [
        "{{ tools.sonar.web_url }}/*"
      ],
      "webOrigins": [
        "{{ tools.sonar.web_url }}"
      ],
      "adminUrl": "{{ tools.sonar.web_url }}/",
      "protocolMappers": [
        {
          "name": "username",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-usermodel-property-mapper",
          "consentRequired": false,
          "config": {
            "userinfo.token.claim": "true",
            "user.attribute": "username",
            "id.token.claim": "true",
            "access.token.claim": "true",
            "claim.name": "preferred_username",
            "jsonType.label": "String"
          }
        },
        {
          "name": "realm roles",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-usermodel-realm-role-mapper",
          "consentRequired": false,
          "config": {
            "userinfo.token.claim": "true",
            "multivalued": "true",
            "id.token.claim": "true",
            "access.token.claim": "false",
            "claim.name": "{{ sonar_claim_name }}",
            "jsonType.label": "String"
          }
        }
      ]
    }
  ],
  "users" : [
    {
      "username" : "je-admin",
      "enabled": true,
      "email" : "sample-user@example.com",
      "firstName": "Jenkins",
      "lastName": "Manager",
      "credentials" : [
        { "type" : "password",
          "value" : "secret" }
      ],
      "realmRoles": [ "jenkins-admin" ]
    },
    {
      "username" : "sonar-admin",
      "enabled": true,
      "email" : "sample-sonar-admin@example.com",
      "firstName": "Sonar",
      "lastName": "Admin",
      "credentials" : [
        { "type" : "password",
          "value" : "secret" }
      ],
      "realmRoles": [ "sonar-admin" ]
    },
    {
      "username" : "sonar-dev",
      "enabled": true,
      "email" : "sample-sonar-dev@example.com",
      "firstName": "Sonar",
      "lastName": "Developer",
      "credentials" : [
        { "type" : "password",
          "value" : "secret" }
      ],
      "realmRoles": [ "sonar-dev" ]
    }
  ]
}
