{
  "username": "admin-{{ full_edp_name }}",
  "enabled": true,
  "email": "admin-{{ full_edp_name }}@example.com",
  "firstName": "Administrator",
  "lastName": "EDP",
  "credentials": [
    {
      "type": "password",
      "value": "secret"
    }
  ]
}