{
    "alias" : "{{ tools.keycloak.realm_name }}",
    "displayName" : "{{ tools.keycloak.realm_name }}",
    "providerId" : "keycloak-oidc",
    "enabled" : true,
    "firstBrokerLoginFlowAlias": "first broker login",
    "config" : {
      "hideOnLoginPage": "",
      "validateSignature": "true",
      "userInfoUrl": "{{ tools.keycloak.web_url }}/auth/realms/{{ tools.keycloak.realm_name }}/protocol/openid-connect/userinfo",
      "tokenUrl": "{{ tools.keycloak.web_url }}/auth/realms/{{ tools.keycloak.realm_name }}/protocol/openid-connect/token",
      "issuer": "{{ tools.keycloak.web_url }}/auth/realms/{{ tools.keycloak.realm_name }}",
      "useJwksUrl": "true",
      "jwksUrl": "{{ tools.keycloak.web_url }}/auth/realms/{{ tools.keycloak.realm_name }}/protocol/openid-connect/certs",
      "authorizationUrl": "{{ tools.keycloak.web_url }}/auth/realms/{{ tools.keycloak.realm_name }}/protocol/openid-connect/auth",
      "logoutUrl": "{{ tools.keycloak.web_url }}/auth/realms/{{ tools.keycloak.realm_name }}/protocol/openid-connect/logout",
      "clientId": "{{ client }}",
      "clientSecret": "{{ client_secret }}"
    }
}