{
  "clientId": "{{ client }}",
  "enabled": true,
  "protocol": "openid-connect",
  "publicClient": false,
  "clientAuthenticatorType": "client-secret",
  "redirectUris": [
    "{{ redirect_uri }}"
  ]
}