apiVersion: v1
kind: ImageStream
metadata:
  name: s2i-javascript
spec:
  dockerImageRepository: ibotty/s2i-nginx
  lookupPolicy:
    local: false
  tags:
  - from:
      kind: DockerImage
      name: ibotty/s2i-nginx:latest
    name: "latest"
    referencePolicy:
      type: Source